In [ ]:
"""
Basic List Operations
"""

# Create a list including these five animals - elephant, tiger, otter, orangutan, and penguin.


# Print the 4th animal on the list.


# Add 'tortoise' to the beginning of the list.


# Print the length of the list.


# Remove 'orangutan' from the list.


# Sort the list alphabetically and print it out.