In [ ]:
"""
Basic List Operations
"""


animals = ['elephant', 'tiger', 'rattlesnake', 'orangutan', 'penguin']
print(animals[3])



animals.insert(0,'tortoise')
print(len(animals))



animals.pop(4)

print(sorted(animals))